 /* Author: Joydeep Banerjee
 * URL: https://penningjoy.github.io
 */

.socials {
  padding-top: 10%;
  width: 30%;
  
}

#social {
    font-size: 20px;
    margin-right:2%;
    text-decoration: none;
}

#navigator {
    color: black;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 300;
        
}

#navigator:hover {
  background-color: white;
  color: black;
  font-weight: 400
}

.resume {
  background-color: dodgerblue; /* Green */
  border-color: dodgerblue;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 2px 2px lightskyblue
}

.resume:hover {
    text-decoration: inherit
}

.button {
  background-color: whitesmoke; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: white;
}