---
// Links point to /#anchor so they work from any page (home or an article).
---
<header>
  <div class="wrap bar">
    <a class="mark" href="/">Joydeep Banerjee</a>
    <nav>
      <ul>
        <li><a href="/#work">Work</a></li>
        <li><a href="/writing">Writing</a></li>
        <li><a href="/#approach">Approach</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
